{% extends 'base.html' %}

{% block page_title %}
<h1 class="display-4">Submit Report</h1>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<form>
  <div class="form-group">
    <label for="selectUser">Select User</label>
    <select class="form-control">
      <option>Default select</option>
    </select>
  </div>
  <div class="form-group">
    <label for="subject">Enter Subject</label>
    <input class="form-control" type="text" placeholder="Subject Name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Choose a score</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
{% endblock %}

